@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a1628;
  --foreground: #d4e4e8;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib {
  opacity: 0.6;
}
